
.masthead > * {
  border: 1px solid black;

}
.masthead {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 3fr 1fr 7fr;
  grid-template-areas:
  'masthead__menu-and-search . masthead__actions'
  '. masthead__technologies .'
  'masthead__date masthead__logo masthead__paper';

}

.masthead__menu-and-search {
  display: flex;
  align-items: center;

}
.fa-bars {
  margin-right: 15px;
  margin-left: 10px;
}

.masthead__menu-and-search{grid-area: masthead__menu-and-search }
.masthead__actions{grid-area: masthead__actions }
.masthead__technologies{grid-area: masthead__technologies }
.masthead__date{grid-area: masthead__date }
.masthead__logo{grid-area: masthead__logo }
.masthead__paper{grid-area: masthead__paper }
